#Deploy MLflow Tracking Server

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlops-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: ghcr.io/mlflow/mlflow:v2.9.2
        ports:
        - containerPort: 5000
        env:
        - name: MLFLOW_TRACKING_URI
          value: http://mlflow:5000
        - name: BACKEND_STORE_URI
          value: sqlite:///mlflow.db
        - name: ARTIFACT_ROOT
          value: s3://ai-mlops-dvc-bucket/mlflow-artifacts
