#Deploy MLflow Tracking Server and SQLite backend

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlops-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: ghcr.io/mlflow/mlflow:v2.9.2
        args:
          - server
          - --host=0.0.0.0
          - --port=5000
          - --backend-store-uri=sqlite:///mlflow.db
          - --default-artifact-root=s3://ai-mlops-cluster-dvc/mlflow-artifacts
        ports:
          - containerPort: 5000
        volumeMounts:
          - name: mlflow-storage
            mountPath: /mlflow
      volumes:
        - name: mlflow-storage
          emptyDir: {}
