# This yaml will setup the deployment pipeline ci-cd for GitHub Actions
name: Deploy Infrastructure and ML Platform

on:
  push:
    branches: [ main ]
    paths:
      - 'infra/**' #trigger github actions only when something in the /infra folder changes.

jobs:
  deploy:
    name: Provision Infra and Deploy to EKS
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init & Apply
        run: |
          cd infra/terraform
          terraform init
          terraform apply -auto-approve

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig --name ai-mlops-cluster --region $AWS_REGION

      - name: Deploy MLflow, MinIO, and Ingress
        run: |
          kubectl apply -f infra/k8s/mlflow/
          kubectl apply -f infra/k8s/minio/
          kubectl apply -f infra/k8s/ingress/

      - name: Validate cluster state
        run: |
          kubectl get nodes
          kubectl get pods -A
          kubectl get svc -A
          kubectl get ingress -A

 
